.env
.idea
prompt.txt
excels/
mdAndPumlToDocx/Counterpart/immagini/
mdAndPumlToDocx/Counterpart/counterpart_output/
mdAndPumlToDocx/Plant/immagini/
mdAndPumlToDocx/Plant/plant_output/
mdAndPumlToDocx/ProjectTask/immagini/
mdAndPumlToDocx/ProjectTask/project_task_output/
/mdAndPumlToDocx/src/lib/