.env
.idea
prompt.txt
excels/
mdAndPumlToDocx/Counterpart/immagini/
mdAndPumlToDocx/Counterpart/counterpart_output/
mdAndPumlToDocx/Plant/immagini/
mdAndPumlToDocx/Plant/plant_output/
mdAndPumlToDocx/ProjectTask/immagini/
mdAndPumlToDocx/ProjectTask/project_task_output/
/mdAndPumlToDocx/src/lib/
txtToJson/.env
txtToJson/PDR_DA_ESTRARRE.txt
txtToJson/richieste_pdr.json
txtToJson/richieste_pod.json