.env
.idea
prompt.txt
excels/
Documentazione/Counterpart/immagini/
Documentazione/Counterpart/counterpart_output/
Documentazione/Plant/immagini/
Documentazione/Plant/plant_output/
Documentazione/ProjectTask/immagini/
Documentazione/ProjectTask/project_task_output/
/Documentazione/src/lib/